IngestData/FormatFiles/xmlcalendar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="calendar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="holidays">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="holiday">
								<xs:complexType>
									<xs:attribute name="id" type="xs:unsignedByte" use="required" />
									<xs:attribute name="title" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="days">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="day">
								<xs:complexType>
									<xs:attribute name="d" type="xs:string" use="required" />
									<xs:attribute name="t" type="xs:unsignedByte" use="required" />
									<xs:attribute name="h" type="xs:unsignedByte" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="year" type="xs:unsignedShort" use="required" />
			<xs:attribute name="lang" type="xs:string" use="required" />
			<xs:attribute name="date" type="xs:string" use="required" />
			<xs:attribute name="country" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>